@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #9cad7b;
  display: flex;
  justify-content: center;
  align-items: center;
}

.App {
  text-align: center;
}

h1 {
  color:#0e5db7;
  margin-bottom: 0.5rem;
  font-size: 1.75rem;
}

.TodoWrapper {
  background: #dcf5f5;
  margin-top: 5rem;
  padding: 2rem;
  border-radius: 5px;
}

.TodoForm {
  width: 95%;
}

.todo-input {
  outline: none;
  background: none;
  border: 1px solid #04aa44;
  padding: 0.5rem 1rem;
  margin-top: 1rem;
  margin-bottom: 2rem;
  width: 300px;
  color: #000000;
}

.todo-input::placeholder {
  color: #0000004d;
}

.todo-btn {
  background: #379b2a;
  color: #030303;
  border: none;
  padding: 0.50rem;
  cursor: pointer;
  margin-bottom: 1.5rem;
  
}

.Todo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #82db7a;
  color: #000000;
  padding: 0.75rem 1rem;
  border-radius: 5px;
  margin-bottom: 0.5rem;
  cursor: pointer;
}

.fa-trash {
  margin-left: 0.75rem;
}

.completed {
  color: #2b9b5d;
  text-decoration: line-through;
}

h6 {
  color:#030303;
  margin-bottom: 0.10rem;
  font-size: 1.0rem;
}       